<div [ngClass]="alerta" class="alert" role="alert">
    This is a primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button type="button" class="btn btn-success m-2" (click)="alerta = 'alert-success'">Success</button>

<br><br>


<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
    Texto random
</h3>


<button (click)="propiedades.danger = !propiedades.danger" type="button" name="button" class="btn btn-danger" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger }">
    Cambiar
</button>



<br>
<br>
<br>

<br>

<h3>Proceso asíncrono</h3>

<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
    <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}" class="fa fa-save"></i> 
    <span *ngIf="!loading"> Guardar cambios</span>
    <span *ngIf="loading"> Espere por favor...</span>
</button>